---
# apt update
- name: Install curl
  ansible.builtin.apt:
    update_cache: yes
    name: curl

# Docker install
- name: Docker install
  shell: "curl https://get.docker.com -o install.sh && sh install.sh --version 27.0"

# Add user test to run Docker
- name: Add user "test" to run Docker
  ansible.builtin.user:
    name: test
    groups: docker
    append: true
  notify: Restart Docker service


# Docker remove config
# - name: Docker remove config
#   ansible.builtin.file:
#     path: /etc/docker/daemon.json
#     state: absent
#   notify: Restart Docker service

# Docker config set mirrors
# - name: Docker config set mirrors
#   copy:
#       dest: "/etc/docker/daemon.json"
#       content: |
#         {"registry-mirrors": ["https://mirror.gcr.io", "https://daocloud.io", "https://c.163.com/", "https://registry.docker-cn.com"]}
#   become: true


